.footer{
    display: flex;
    background-color: $background-color-dark;
    padding: 60px 0;
}

.footer__container{
    display: flex;
    align-items: baseline;
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}