.footer{
    background-color: $background-color-dark;
    padding: 60px 0;
}

.footer__container{
    
    padding: 0 15px;
    margin-left: 0 auto;
        @media screen and (max-width: 767px) {
            text-align: center;
        }
   
        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: baseline;
            max-width: 1200px;
            margin: auto;
        }
        
}