.portfolio{
    @extend %section;
}

.portfolio__container{
 @extend %container;
}

.portfolio__list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio__item{
        &:hover .portfolio__overlay,
        &:focus .portfolio__overlay {
            transform: translatey(0);
        }
}

.portfolio__link {
    display: block;
    transition: box-shadow 250ms $timing-function;
        &:hover,
        &:focus {
            box-shadow:
                0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.portfolio__item-box {
    padding: 20px 24px;
    border-left: 1px solid $color-border-item;
    border-bottom: 1px solid $color-border-item;
    border-right: 1px solid $color-border-item;
}

.portfolio__name{
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio__description {
    font-size: 16px;
    line-height: 1.9;
    color: $color-txt-cont;
}


.portfolio__overlay-box {
    display: flex;
    overflow: hidden;
    position: relative;
}

.portfolio__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translatey(101%);
    transition: transform 250ms $timing-function;

}

.portfolio__overlay-text {
    font-size: 18px;
    line-height: 1.55;
    color: $color-txt;
    padding: 63px 24px;
}