body {
    font-family:$main-font;
    font-weight:400;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: $color-txt;
    color: $color-txt-dark;
    }
    
    
button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}