$background-color: #E5E5E5;
$background-color-dark: #2F303A;
$color-accent: #2196F3;
$color-txt-dark: #212121;
$color-txt: #FFFFFF;
$color-txt-cont: #757575;
$background-color-team: #F5F4FA;

$color-border: #ECECEC;
$color-border-item: #EEEEEE;
$border-color: #AFB1B8;

$acolor: rgba(255, 255, 255, 0.6);
$bcolor: rgba(255, 255, 255, 0.1);

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$main-font: 'Roboto',
    sans-serif;
$secondary-font: 'Raleway',
    sans-serif;


